.description {
    &__content {
        // padding-top: var(--size-xxxl);
        // padding-bottom: var(--size-xxxl);
    }

    &__text {
        font-size: var(--size-xs);

        width: calc(100% - 100px);


        @media(min-width: $md) {
            font-size: var(--size-xs);
            width: 100%;
        }
    }


}